@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>关于我们-九鼎财经</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="~/Content/About/reset.css" rel="stylesheet">
    <link href="~/Content/About/default.css" rel="stylesheet">
    <script src="~/Scripts/jquery-2.1.4.js"></script>
</head>
<body>
    <div class="header">
        <div class="logo fl"><img src="/Image/images/icon_logo.png" height="58" width="351" alt="logo"></div>
        <div class="hotline fr"><img src="/Image/about/hotline.png" height="53" width="242" alt="热线电话"></div>
    </div>
    <div class="nav" style="display:none;">
        <ul class="mainNav">
            <li><a href="#">首页</a></li>
            <li>
                <a href="javascript:;">关于我们</a>
                <ul>
                    <li><a href="javascript:;">公司介绍</a></li>
                    <li><a href="javascript:;">合作机构</a></li>
                    <li><a href="javascript:;">联系我们</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">上市品种</a>
                <ul>
                    <li><a href="javascript:;">产品介绍</a></li>
                    <li><a href="javascript:;">产品优势</a></li>
                    <li><a href="javascript:;">风险控制</a></li>
                    <li><a href="javascript:;">权益保障</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">行情资讯</a>
                <ul>
                    <li><a href="javascript:;">策略研究</a></li>
                    <li><a href="javascript:;">财经资讯</a></li>
                    <li><a href="javascript:;">行业动态</a></li>
                    <li><a href="javascript:;">重要公告</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">开户指南</a>
                <ul>
                    <li><a href="javascript:;">开户流程</a></li>
                    <li><a href="javascript:;">风险提示</a></li>
                    <li><a href="javascript:;">交易规则</a></li>
                    <li><a href="javascript:;">签约银行</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">下载专区</a>
                <ul>
                    <li><a href="javascript:;">软件下载</a></li>
                    <li><a href="javascript:;">文件下载</a></li>
                </ul>
            </li>
            <li><a href="javascript:;">重要公告</a></li>
            <li><a href="javascript:;">网上开户</a></li>
        </ul>
    </div>
    <div class="banner">
        <div><a href="javascript:;"><img src="/Image/about/catBanner.png" height="auto" width="100%" alt=""></a></div>
    </div>
    <div class="main">
        <div class="bread">您的位置：<a href="/Home/Index">首页</a> &gt; <a href="/Home/About">关于我们</a> &gt; 正文</div>
        <div class="catCont">
            <div class="sideNav">
                <ul>
                    <li class="active"><a href="javascript:;">关于我们</a></li>
                    <li><a href="/Home/CompanyIntroduce">公司介绍</a></li>
                    @*<li><a href="javascript:;">联系我们</a></li>*@
                    <li><a href="/Home/Download">下载专区</a></li>
                </ul>
            </div>
            <div class="content">
                <h1>关于我们</h1>
                <div class="article">
                    <div>　　　九鼎财经运用“互联网+金融”的创新思维，积极拓宽投资渠道，将信息集中化。集信息资源、风险把控、数据展示等为一体，开创将线上与线下相结合的模式，以视频互动为主要特色，锁定每日金融行情，解析当下热门财经话题，透视各项实时消息，为众多投资者的投资之路创建便捷、快速的通道。</div>
                    <div>　　　九鼎财经终秉承一切以客户利益为中心点，从实际出发，摒除浮夸，以诚信务实的态度为每一位投资者提供贴心服务。</div>
                    <div>&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="copyRight">版权所有 © 2015  杭州梵尚网络科技有限公司 浙ICP备15039866号-1</div>
        <div class="tip">入市有风险  投资需谨慎</div>
    </div>
</body>
</html>