
@{
    Layout = "~/Views/Shared/_YouBiKaIntroducesLayout.cshtml";
}
<!--PP26 《百合花》普通邮资明信片-->
<div class="news_w" style="display: @(ViewBag.id == "1" ? "block" : "none")">
    <p align="center" style="background: white; text-align: center; margin: 0cm 0cm 0pt; line-height: 18.75pt"><b style="mso-bidi-font-weight: normal"><span lang="EN-US" style="font-size: 14pt; font-family: &quot;微软雅黑&quot;, sans-serif; color: #3e3e3e; mso-bidi-font-size: 12.0pt">PP26 </span></b><b style="mso-bidi-font-weight: normal"><span style="font-size: 14pt; font-family: &quot;微软雅黑&quot;, sans-serif; color: #3e3e3e; mso-bidi-font-size: 12.0pt">《百合花》普通邮资明信片</span></b>
    </p>
    <p align="center" style="background: white; text-align: center; margin: 0cm 0cm 0pt; line-height: 18.75pt"><b style="mso-bidi-font-weight: normal"><span style="font-size: 14pt; font-family: &quot;微软雅黑&quot;, sans-serif; color: #3e3e3e; mso-bidi-font-size: 12.0pt"><span lang="EN-US"><o:p></o:p></span></span></b>
    </p>
    <p class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0pt"><span lang="EN-US" style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-no-proof: yes"><img alt="" width="508" height="337" src="/image/YouBiKaIntroduces/cp7(1).jpg"></span><span lang="EN-US" style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif"><o:p></o:p></span></p>
    <p class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0pt">&nbsp;</p>
    <div align="center">
        <table class="MsoNormalTable" cellspacing="0" cellpadding="0" border="1" style="border-top: medium none; border-right: medium none; border-collapse: collapse; border-bottom: medium none; border-left: medium none; mso-border-alt: solid windowtext .5pt; mso-yfti-tbllook: 1184; mso-padding-alt: 0cm 5.4pt 0cm 5.4pt">
            <tbody>
            <tr style="mso-yfti-irow: 0; mso-yfti-firstrow: yes">
                <td valign="top" width="132" style="border-top: windowtext 1pt solid; border-right: windowtext 1pt solid; width: 99pt; border-bottom: windowtext 1pt solid; padding-bottom: 0cm; padding-top: 0cm; padding-left: 5.4pt; border-left: windowtext 1pt solid; padding-right: 5.4pt; background-color: transparent; mso-border-alt: solid windowtext .5pt">
                    <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; mso-pagination: widow-orphan"><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">志号名称</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
                </td>
                <td valign="top" width="302" style="border-top: windowtext 1pt solid; border-right: windowtext 1pt solid; width: 8cm; border-bottom: windowtext 1pt solid; padding-bottom: 0cm; padding-top: 0cm; padding-left: 5.4pt; border-left: #f0f0f0; padding-right: 5.4pt; background-color: transparent; mso-border-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt">
                    <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; mso-pagination: widow-orphan"><span lang="EN-US" style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">PP26 </span><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">《百合花》普通邮资明信片</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
                </td>
            </tr>
            <tr style="mso-yfti-irow: 1">
                <td valign="top" width="132" style="border-top: #f0f0f0; border-right: windowtext 1pt solid; width: 99pt; border-bottom: windowtext 1pt solid; padding-bottom: 0cm; padding-top: 0cm; padding-left: 5.4pt; border-left: windowtext 1pt solid; padding-right: 5.4pt; background-color: transparent; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt">
                    <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; mso-pagination: widow-orphan"><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">全套枚数</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
                </td>
                <td valign="top" width="302" style="border-top: #f0f0f0; border-right: windowtext 1pt solid; width: 8cm; border-bottom: windowtext 1pt solid; padding-bottom: 0cm; padding-top: 0cm; padding-left: 5.4pt; border-left: #f0f0f0; padding-right: 5.4pt; background-color: transparent; mso-border-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt">
                    <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; mso-pagination: widow-orphan"><span lang="EN-US" style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">1</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
                </td>
            </tr>
            <tr style="mso-yfti-irow: 2">
                <td valign="top" width="132" style="border-top: #f0f0f0; border-right: windowtext 1pt solid; width: 99pt; border-bottom: windowtext 1pt solid; padding-bottom: 0cm; padding-top: 0cm; padding-left: 5.4pt; border-left: windowtext 1pt solid; padding-right: 5.4pt; background-color: transparent; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt">
                    <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; mso-pagination: widow-orphan"><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">发行日期</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
                </td>
                <td valign="top" width="302" style="border-top: #f0f0f0; border-right: windowtext 1pt solid; width: 8cm; border-bottom: windowtext 1pt solid; padding-bottom: 0cm; padding-top: 0cm; padding-left: 5.4pt; border-left: #f0f0f0; padding-right: 5.4pt; background-color: transparent; mso-border-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt">
                    <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; mso-pagination: widow-orphan"><span lang="EN-US" style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">2000.12.15</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
                </td>
            </tr>
            <tr style="mso-yfti-irow: 3">
                <td valign="top" width="132" style="border-top: #f0f0f0; border-right: windowtext 1pt solid; width: 99pt; border-bottom: windowtext 1pt solid; padding-bottom: 0cm; padding-top: 0cm; padding-left: 5.4pt; border-left: windowtext 1pt solid; padding-right: 5.4pt; background-color: transparent; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt">
                    <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; mso-pagination: widow-orphan"><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">全套面值</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
                </td>
                <td valign="top" width="302" style="border-top: #f0f0f0; border-right: windowtext 1pt solid; width: 8cm; border-bottom: windowtext 1pt solid; padding-bottom: 0cm; padding-top: 0cm; padding-left: 5.4pt; border-left: #f0f0f0; padding-right: 5.4pt; background-color: transparent; mso-border-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt">
                    <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; mso-pagination: widow-orphan"><span lang="EN-US" style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">0.6</span><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">元</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
                </td>
            </tr>
            <tr style="mso-yfti-irow: 4">
                <td valign="top" width="132" style="border-top: #f0f0f0; border-right: windowtext 1pt solid; width: 99pt; border-bottom: windowtext 1pt solid; padding-bottom: 0cm; padding-top: 0cm; padding-left: 5.4pt; border-left: windowtext 1pt solid; padding-right: 5.4pt; background-color: transparent; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt">
                    <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; mso-pagination: widow-orphan"><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">规格</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
                </td>
                <td valign="top" width="302" style="border-top: #f0f0f0; border-right: windowtext 1pt solid; width: 8cm; border-bottom: windowtext 1pt solid; padding-bottom: 0cm; padding-top: 0cm; padding-left: 5.4pt; border-left: #f0f0f0; padding-right: 5.4pt; background-color: transparent; mso-border-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt">
                    <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; mso-pagination: widow-orphan"><span lang="EN-US" style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">25*35mm</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
                </td>
            </tr>
            <tr style="mso-yfti-irow: 5">
                <td valign="top" width="132" style="border-top: #f0f0f0; border-right: windowtext 1pt solid; width: 99pt; border-bottom: windowtext 1pt solid; padding-bottom: 0cm; padding-top: 0cm; padding-left: 5.4pt; border-left: windowtext 1pt solid; padding-right: 5.4pt; background-color: transparent; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt">
                    <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; mso-pagination: widow-orphan"><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">展开规格片规格</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
                </td>
                <td valign="top" width="302" style="border-top: #f0f0f0; border-right: windowtext 1pt solid; width: 8cm; border-bottom: windowtext 1pt solid; padding-bottom: 0cm; padding-top: 0cm; padding-left: 5.4pt; border-left: #f0f0f0; padding-right: 5.4pt; background-color: transparent; mso-border-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt">
                    <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; mso-pagination: widow-orphan"><span lang="EN-US" style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">148*100mm</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
                </td>
            </tr>
            <tr style="mso-yfti-irow: 6">
                <td valign="top" width="132" style="border-top: #f0f0f0; border-right: windowtext 1pt solid; width: 99pt; border-bottom: windowtext 1pt solid; padding-bottom: 0cm; padding-top: 0cm; padding-left: 5.4pt; border-left: windowtext 1pt solid; padding-right: 5.4pt; background-color: transparent; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt">
                    <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; mso-pagination: widow-orphan"><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">售价</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
                </td>
                <td valign="top" width="302" style="border-top: #f0f0f0; border-right: windowtext 1pt solid; width: 8cm; border-bottom: windowtext 1pt solid; padding-bottom: 0cm; padding-top: 0cm; padding-left: 5.4pt; border-left: #f0f0f0; padding-right: 5.4pt; background-color: transparent; mso-border-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt">
                    <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; mso-pagination: widow-orphan"><span lang="EN-US" style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">0.85</span><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">元</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
                </td>
            </tr>
            <tr style="mso-yfti-irow: 7">
                <td valign="top" width="132" style="border-top: #f0f0f0; border-right: windowtext 1pt solid; width: 99pt; border-bottom: windowtext 1pt solid; padding-bottom: 0cm; padding-top: 0cm; padding-left: 5.4pt; border-left: windowtext 1pt solid; padding-right: 5.4pt; background-color: transparent; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt">
                    <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; mso-pagination: widow-orphan"><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">设计者</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
                </td>
                <td valign="top" width="302" style="border-top: #f0f0f0; border-right: windowtext 1pt solid; width: 8cm; border-bottom: windowtext 1pt solid; padding-bottom: 0cm; padding-top: 0cm; padding-left: 5.4pt; border-left: #f0f0f0; padding-right: 5.4pt; background-color: transparent; mso-border-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt">
                    <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; mso-pagination: widow-orphan"><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">吴敏荣</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
                </td>
            </tr>
            <tr style="mso-yfti-irow: 8">
                <td valign="top" width="132" style="border-top: #f0f0f0; border-right: windowtext 1pt solid; width: 99pt; border-bottom: windowtext 1pt solid; padding-bottom: 0cm; padding-top: 0cm; padding-left: 5.4pt; border-left: windowtext 1pt solid; padding-right: 5.4pt; background-color: transparent; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt">
                    <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; mso-pagination: widow-orphan"><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">印刷机构</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
                </td>
                <td valign="top" width="302" style="border-top: #f0f0f0; border-right: windowtext 1pt solid; width: 8cm; border-bottom: windowtext 1pt solid; padding-bottom: 0cm; padding-top: 0cm; padding-left: 5.4pt; border-left: #f0f0f0; padding-right: 5.4pt; background-color: transparent; mso-border-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt">
                    <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; mso-pagination: widow-orphan"><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">河南省邮电印刷厂</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
                </td>
            </tr>
            <tr style="mso-yfti-irow: 9; mso-yfti-lastrow: yes">
                <td valign="top" width="132" style="border-top: #f0f0f0; border-right: windowtext 1pt solid; width: 99pt; border-bottom: windowtext 1pt solid; padding-bottom: 0cm; padding-top: 0cm; padding-left: 5.4pt; border-left: windowtext 1pt solid; padding-right: 5.4pt; background-color: transparent; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt">
                    <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; mso-pagination: widow-orphan"><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">版别</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
                </td>
                <td valign="top" width="302" style="border-top: #f0f0f0; border-right: windowtext 1pt solid; width: 8cm; border-bottom: windowtext 1pt solid; padding-bottom: 0cm; padding-top: 0cm; padding-left: 5.4pt; border-left: #f0f0f0; padding-right: 5.4pt; background-color: transparent; mso-border-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt">
                    <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; mso-pagination: widow-orphan"><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">胶版</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; text-indent: 24pt; mso-char-indent-count: 2.0; mso-pagination: widow-orphan"><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">百合花，别称“野百合”、“白花百合”，百合科。它除了药用价值外，还是一种广受人们喜爱的鲜花，尤其是在我们国家倍受青睐。南北朝时代，梁宣帝诗云：“接叶有多种，开花无异色。含露或低垂，从风时偃抑。甘菊愧仙方，藂兰谢芳馥”。赞美百合花具有超凡脱俗、矜持含蓄的气质。到了宋代，喜欢百合花的人就更多了，大诗人陆游也利用窗前的土丘种上百合花，他也咏曰：“芳兰移取遍中林，余地何妨种玉簪，更乞两丛香百合，老翁七十尚童心”。可见，百合花的美是如何的深入人心。</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
    <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; text-indent: 24pt; mso-char-indent-count: 2.0; mso-pagination: widow-orphan"><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">米白的底色，墨绿的枝叶衬托着鹅黄色的花朵，暗香浮动，沁人心脾，怀旧的气息更是扑面而来。让人联想到仿佛它被一个的情窦初开的少女拿在手里，在一个遥远的春日下午，满腹心事在它身上只化为寥寥数语。</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
    <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; text-indent: 24pt; mso-char-indent-count: 2.0; mso-pagination: widow-orphan"><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">它能让我们想起那个淳朴真实的年代，它所记录的是人们至情至性的情感往事，相信在投资市场中会得到收藏家的青睐。</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
    <p class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0pt">&nbsp;</p>
    <!-- 附件下载 -->
    <br><br><br>

    <!-- The End -->
</div>

<!--军JP5强军兴军邮资明信片-->
<div class="news_w" style="display: @(ViewBag.id == "2" ? "block" : "none")">
    <p class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0pt">&nbsp;</p>
    <p class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0pt"><span style="font-size: 14pt; font-family: 宋体; background: white"><b><span style="font-size: 14pt; font-family: &quot;微软雅黑&quot;,sans-serif; background: white; color: black; mso-bidi-font-size: 12.0pt; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">军<span lang="EN-US">JP5</span>强军兴军邮资明信片</span></b><span lang="EN-US" style="font-size: 14pt; font-family: &quot;微软雅黑&quot;,sans-serif; color: black; mso-bidi-font-size: 12.0pt; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></span></p>
    <p><span style="font-size: 14pt; font-family: 宋体; background: white"><span lang="EN-US"><o:p></o:p></span></span></p>
    <p class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0pt"><span lang="EN-US" style="font-family: 宋体; background: white; mso-bidi-font-size: 10.5pt; mso-no-proof: yes"><img alt="" width="430" height="301" src="/image/YouBiKaIntroduces/cp6(1).jpg"></span></p>
    <p class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0pt">&nbsp;</p>
    <p class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0pt">&nbsp;</p>
    <div align="center">
        <table class="MsoNormalTable" cellspacing="0" cellpadding="0" border="1" style="border-top: medium none; border-right: medium none; border-collapse: collapse; border-bottom: medium none; border-left: medium none; mso-border-alt: solid windowtext .5pt; mso-yfti-tbllook: 1184; mso-padding-alt: 0cm 0cm 0cm 0cm; mso-border-insideh: .5pt solid windowtext; mso-border-insidev: .5pt solid windowtext">
            <tbody>
                <tr style="mso-yfti-irow: 0; mso-yfti-firstrow: yes">
                    <td valign="top" width="85" style="border-top: windowtext 1pt solid; border-right: windowtext 1pt solid; width: 63.55pt; border-bottom: windowtext 1pt solid; padding-bottom: 0cm; padding-top: 0cm; padding-left: 5.4pt; border-left: windowtext 1pt solid; padding-right: 5.4pt; background-color: transparent; mso-border-alt: solid windowtext .5pt">
                        <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; line-height: 18.75pt; mso-pagination: widow-orphan"><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;,sans-serif; color: black; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">发行日期</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
                    </td>
                    <td valign="top" width="185" style="border-top: windowtext 1pt solid; border-right: windowtext 1pt solid; width: 139pt; border-bottom: windowtext 1pt solid; padding-bottom: 0cm; padding-top: 0cm; padding-left: 5.4pt; border-left: #f0f0f0; padding-right: 5.4pt; background-color: transparent; mso-border-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt">
                        <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; line-height: 18.75pt; mso-pagination: widow-orphan"><span lang="EN-US" style="font-size: 12pt; font-family: &quot;微软雅黑&quot;,sans-serif; color: black; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">2009</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
                    </td>
                </tr>
                <tr style="mso-yfti-irow: 1; mso-yfti-lastrow: yes">
                    <td valign="top" width="85" style="border-top: #f0f0f0; border-right: windowtext 1pt solid; width: 63.55pt; border-bottom: windowtext 1pt solid; padding-bottom: 0cm; padding-top: 0cm; padding-left: 5.4pt; border-left: windowtext 1pt solid; padding-right: 5.4pt; background-color: transparent; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt">
                        <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; line-height: 18.75pt; mso-pagination: widow-orphan"><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;,sans-serif; color: black; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">面值</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
                    </td>
                    <td valign="top" width="185" style="border-top: #f0f0f0; border-right: windowtext 1pt solid; width: 139pt; border-bottom: windowtext 1pt solid; padding-bottom: 0cm; padding-top: 0cm; padding-left: 5.4pt; border-left: #f0f0f0; padding-right: 5.4pt; background-color: transparent; mso-border-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt">
                        <p class="MsoNormal" align="left" style="text-align: left; margin: 0cm 0cm 0pt; line-height: 18.75pt; mso-pagination: widow-orphan"><span lang="EN-US" style="font-size: 12pt; font-family: &quot;微软雅黑&quot;,sans-serif; color: black; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">80</span><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;,sans-serif; color: black; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">分</span><span lang="EN-US" style="font-size: 12pt; font-family: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"><o:p></o:p></span></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="MsoNormal" align="left" style="background: white; text-align: left; margin: 0cm 0cm 0pt; line-height: 18.75pt; text-indent: 24pt; mso-pagination: widow-orphan"><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;,sans-serif; color: black; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">印制精美。看到过这枚邮资片的朋友都能体会到，这枚邮资片的印制非常精美、漂亮，其画面均为中国人喜欢的大红色，象征军队蒸蒸日上，越来越强大。</span><span lang="EN-US" style="font-family: &quot;Simsun&quot;,serif; color: black; mso-bidi-font-size: 10.5pt; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt; mso-fareast-font-family: 宋体"><o:p></o:p></span></p>
    <p class="MsoNormal" align="left" style="background: white; text-align: left; margin: 0cm 0cm 0pt; line-height: 18.75pt; text-indent: 24pt; mso-pagination: widow-orphan"><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;,sans-serif; color: black; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">题材优秀。军<span lang="EN-US">JP</span><span lang="EN-US">5</span>以强军兴军为题材背景，这与现时习近平阐述“强军梦”不谋而合。<span lang="EN-US">2012</span>年<span lang="EN-US">12</span>月<span lang="EN-US">28</span>日，中国国家主席习近平首次阐述“强军梦”，深刻指出，要牢记坚决听党指挥是强军之魂，要牢记能打仗、打胜仗是强军之要，要牢记依法治军、从严治军是强军之基。为军队深入学习贯彻十八大精神、坚定不移走强军之路指明了方向、提供了遵循。</span><span lang="EN-US" style="font-family: &quot;Simsun&quot;,serif; color: black; mso-bidi-font-size: 10.5pt; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt; mso-fareast-font-family: 宋体"><o:p></o:p></span>&nbsp;</p>
    <p>&nbsp;</p>
    <!-- 附件下载 -->
    <br><br><br>

    <!-- The End -->
</div>

<script>
    $(function() {
        var url = window.location.href;
        var id = url.substring(url.indexOf('=') + 1);
        selectMenu(5, id);

    });
</script>