@{
    ViewBag.Title = "YouBiKa";
    Layout = "~/Views/Shared/_YouBiKaIntroducesLayout.cshtml";
}
<div class="news_w">
    <p class="MsoNormal" align="center" style="background: white; text-align: center; margin: 0cm 0cm 0pt; line-height: 18.75pt; text-indent: 24pt"><b><span lang="ZH-CN" style="font-size: 14pt; font-family: &quot;微软雅黑&quot;, sans-serif; color: black; mso-bidi-font-family: &quot;Times New Roman&quot;">中国艺交所邮币卡交易中心简介</span></b><span style="font-size: 12pt; font-family: 宋体; background: white; color: #333333; mso-bidi-font-family: &quot;Times New Roman&quot;">&nbsp;</span></p>
    <p class="MsoNormal" align="center" style="background: white; text-align: center; margin: 0cm 0cm 0pt; line-height: 18.75pt; text-indent: 24pt">&nbsp;</p>
    <p class="MsoNormal" style="background: white; margin: 0cm 0cm 0pt; line-height: 18.75pt; text-indent: 25.5pt"><span lang="ZH-CN" style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; color: black; mso-bidi-font-family: &quot;Times New Roman&quot;"> 邮币卡电子盘又称邮币卡线上交易平台，就是把原本分散在现货市场的钱币、邮票、磁卡等藏品，集中起来，经过鉴定，在文交所挂牌上市，投资者通过开户入市就可以像买卖股票那样进行线上交易了，并可以提取实物。这种模式避免了一些弊端，比如现货交易中的真伪、品相等问题。是新的金融创新投资模式。</span></p>

    <p class="MsoNormal" style="background: white; margin: 0cm 0cm 0pt; line-height: 18.75pt; text-indent: 25.5pt"><span lang="ZH-CN" style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; color: black; mso-bidi-font-family: &quot;Times New Roman&quot;">中国工艺艺术品交易所有限公司是由中央企业——中国工艺（集团）公司联合中国文联所属中联国际文化发展有限公司、北京工美集团有限责任公司发起成立的，是目前唯一获“清理整顿各类交易场所部际联席会议”批准入市的“中国”字号艺术品现货商品交易所。</span><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; color: black; mso-bidi-font-family: &quot;Times New Roman&quot;"><o:p></o:p></span></p>
    <p class="MsoNormal" style="background: white; margin: 0cm 0cm 0pt; line-height: 18.75pt; text-indent: 25.5pt"><span lang="ZH-CN" style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; color: black; mso-bidi-font-family: &quot;Times New Roman&quot;">中国艺交所邮币卡交易中心的成立，融合了互联网和金融的优势，切实落实国家大力打造互联网</span><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; color: black; mso-bidi-font-family: &quot;Times New Roman&quot;">+<span lang="ZH-CN">的战略部署，将互联网、金融和文化完美的结合在一起，为广大收藏爱好者和投资者提供了一个公开、公正、公平、透明的收藏品现货商品交易平台。</span></span><span style="font-size: 10.5pt; font-family: &quot;Simsun&quot;, serif; color: black; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-fareast-font-family: &quot;Times New Roman&quot;"><o:p></o:p></span></p>
    <p class="MsoNormal" style="background: white; margin: 0cm 0cm 0pt; line-height: 18.75pt; text-indent: 25.5pt">
        <span lang="ZH-CN" style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; color: black; mso-bidi-font-family: &quot;Times New Roman&quot;">邮币卡交易中心的定位：作为全国首家邮票、钱币等收藏品“中国”字号实物挂牌交易中心，将建设成中国邮票、钱币等收藏品交易领域的权威平台，成为全国邮票、钱币等收藏市场价格的风向标。</span><span style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; color: black; mso-bidi-font-family: &quot;Times New Roman&quot;">
            <br>
            <span lang="ZH-CN">展望未来，交易中心还将进一步丰富自身的业务范围，为广大客户提供更多的、更规范的金融服务项目，诸如：邮币卡藏品集散中心、邮币卡托管交收中心、文化收藏品类理财中心、邮币卡市场研究院、学术交流中心和会展中心等。</span>
        </span><span style="font-size: 10.5pt; font-family: &quot;Simsun&quot;, serif; color: black; mso-bidi-font-family: &quot;Times New Roman&quot;"><o:p></o:p></span>
    </p>
    <p class="MsoNormal" style="background: white; margin: 0cm 0cm 0pt; line-height: 18.75pt; text-indent: 25.5pt"><span lang="ZH-CN" style="font-size: 12pt; font-family: &quot;微软雅黑&quot;, sans-serif; color: black; mso-bidi-font-family: &quot;Times New Roman&quot;">中国艺交所将忠实履行中央企业的社会责任，全力打造国家重点邮币卡电子交易所，为弘扬中华文化、振兴文化产业做出应有贡献，为把中国建设成世界重要的艺术品、文化收藏品交易中心做出应有努力！</span></p>
    <p class="MsoNormal" style="background: white; text-align: center; margin: 0cm 0cm 0pt; line-height: 18.75pt; text-indent: 25.5pt"><img alt="" width="650"  src="~/image/YouBiKaIntroduces/youbika.jpg"></p>
    <!-- 附件下载 -->
    <br><br><br>

    <!-- The End -->
</div>