<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/Image/images/favicon.ico" type="image/x-icon" />
    <title>邮币卡简介</title>
    <link href="~/Content/download/reset.css" rel="stylesheet" />
    <link href="~/Content/JavaIE_css/zzsc.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
</head>
<body>
    <div class="banner">
        <div class="container">
            <div class="logo fl">
                <a href="/Home/Index"><img class="fl" src="/Image/images/icon_logo.png" height="50" width="177" alt="logo"></a>
            </div>

        </div>
        <div class="nav">
            <ul>
                <li><a href="/Home/Index">首页</a></li>
                <li><a href="/Home/Download">下载中心</a></li>
                <li class="now current"><a href="/YouBiKaIntroduces/YouBiKa">邮币卡简介</a></li>
                <li><a href="/Home/About">关于我们</a></li>
            </ul>
        </div>
    </div>
    <div style="width: 1024px; margin: 0px auto">
        @{
            @Html.Partial("_YouBiKaLeftMenu")
        }
        <div style="width: 75%; height: 100%; float: left; margin: 20px 0px 0px 20px">
            @RenderBody()
            @RenderSection("scripts", required: false)
        </div>

    </div>
    <div class="footer">
        <div class="footop">
            <div class="footcon">
                <div class="footNav">
                    栏目导航：
                    <a href="/Home/Index">首页</a>
                    <a href="/kejian">技术课件</a>
                    <a href="/kejian">经典书籍</a>
                    <a href="#">技术课件</a>
                    <a href="/Home/About">关于我们</a>
                </div>
            </div>
            <div class="wxcode" style="float: right">
                <img src="/Image/javaie_images/weixin.jpg" height="90" width="90" alt="中艺官方微信号">
                <p>中艺官方微信号</p>
            </div>
        </div>
        <div class="footbot">
            <div class="notice">
                <p>投资有风险，入市须谨慎。本站策略仅为个人观点，不做下单依据。</p>
                <p>为了保障您的权益，中艺财经提醒您：请您在开户时，提供本人真实有效的联系方式；</p>
                <p>在交易过程中，切勿委托他人代您理财，切莫相信任何保本理财的承诺！</p>
            </div>
        </div>
    </div>
</body>
</html>
