

<div id="firstpane" class="menu_list">
    <p class="menu_head "><a href="/YouBiKaIntroduces/YouBiKa">邮币卡介绍</a></p>
    <p class="menu_head ">钱币</p>
    <div style="display: none" class=menu_body>
        <a href="/YouBiKaIntroduces/Coin?id=1">刘少奇诞辰100周年纪念币</a>
        <a href="/YouBiKaIntroduces/Coin?id=2">中国银行伍角外汇兑换券</a>
        <a href="/YouBiKaIntroduces/Coin?id=3">中国银行壹角外汇兑换券</a>
        <a href="/YouBiKaIntroduces/Coin?id=4">1953年18k壹分券</a>
        <a href="/YouBiKaIntroduces/Coin?id=5">二版二分长号券</a>
    </div>
    <p class="menu_head">邮票</p>
    <div style="display: none" class=menu_body>
        <a href="/YouBiKaIntroduces/Stamp?id=1" title="2006-26：中国－东盟建立对话关系15周年(J)">2006-26：中国－东盟建立对话...</a>
        <a href="/YouBiKaIntroduces/Stamp?id=2" title="2005-12T安徒生童话不干胶特种邮票">2005-12T安徒生童话不干胶特种...</a>
        <a href="/YouBiKaIntroduces/Stamp?id=3">普10花卉图案普通邮票--菊花5分</a>
        <a href="/YouBiKaIntroduces/Stamp?id=4">澳门回归祖国十周年</a>
        <a href="/YouBiKaIntroduces/Stamp?id=5" title="工农兵和革命圣地图案普通邮票—农民">工农兵和革命圣地图案普通邮票...</a>
        <a href="/YouBiKaIntroduces/Stamp?id=6" title="编号 革命现代京剧《智取威虎山》之编6胜利会师">编号 革命现代京剧《智取威虎山》...</a>
        <a href="/YouBiKaIntroduces/Stamp?id=7">2002-11 2002年世界杯足球赛</a>
        <a href="/YouBiKaIntroduces/Stamp?id=8">1992-1 壬申年生肖猴票</a>
        <a href="/YouBiKaIntroduces/Stamp?id=9">普11 天安门普通邮票（22分）</a>
        <a href="/YouBiKaIntroduces/Stamp?id=10" title="文11 林彪1965年为《中国人民解放军》邮票题词">文11 林彪1965年为《中国人民解放军...</a>
    </div>
    <p class="menu_head">流通币</p>
    <div style="display: none" class=menu_body>
        <a href="/YouBiKaIntroduces/Currency?id=1">2011年兔年流通纪念币</a>
        <a href="/YouBiKaIntroduces/Currency?id=2">世博会流通纪念币</a>
    </div>
    <p class="menu_head">金币银币</p>
    <div style="display: none" class=menu_body>
        <a href="/YouBiKaIntroduces/GoldCoin?id=1">2011年熊猫纪念币一盎司银币</a>
        <a href="/YouBiKaIntroduces/GoldCoin?id=2">2005年一盎司熊猫银币</a>
        <a href="/YouBiKaIntroduces/GoldCoin?id=3">峨眉山1/4盎司金币</a>
    </div>
    <p class="menu_head">电话卡</p>
    <div style="display: none" class=menu_body>

    </div>
    <p class="menu_head">邮资封片</p>
    <div style="display: none" class=menu_body>
        <a href="/YouBiKaIntroduces/PostageStamp?id=1">PP26 《百合花》普通邮资明信片</a>
        <a href="/YouBiKaIntroduces/PostageStamp?id=2">军JP5强军兴军邮资明信片</a>
    </div>
</div>
<script type=text/javascript>
    $(document).ready(function () {
        //$("#firstpane .menu_body:eq(0)").show();
        $("#firstpane p.menu_head").click(function () {
            if ($(this).next("div.menu_body").is(':hidden')) {
                $(this).addClass("current").next("div.menu_body").slideToggle(300).siblings("div.menu_body").slideUp("slow");
            } else {
                $(this).removeClass("current");
                $(this).next("div.menu_body").slideToggle(300).siblings("div.menu_body").slideUp("slow");
            }


            $(this).siblings().removeClass("current");
        });
        //$("#secondpane .menu_body:eq(0)").show();
        $("#secondpane p.menu_head").mouseover(function () {
            $(this).addClass("current").next("div.menu_body").slideDown(500).siblings("div.menu_body").slideUp("slow");
            $(this).siblings().removeClass("current");
        });

       
    });
    function selectMenu(index, id) {
        $("#firstpane p:eq(" + index + ")").addClass("current");
        $("#firstpane .menu_body:eq(" + index + ")").show();
        $("#firstpane .menu_body:eq(" + index + ")").children().eq(id - 1).addClass("active");
    }
</script>