body{
      background: url("../../Image/images/default_bg.jpg") repeat fixed!important;
}
.downclent{
    background-color:#f2ad21!important;
    /*color:red!important;*/
}
#TopbarWapper{
  background-color:#c12b34!important;
}
#MainLiveTVWapper .video-tip{
    background-color:#dd4e3e!important;
}
#RoomNoticeWrapper{
     background-color: #ea5e47;
}
#SubColumnsMenu{
    background-color: #ef7c42!important;
}
#SubColumnsMenu a{
    background-color: #a90017!important;
}
#SubColumnsMenu a:hover{
    background-color: #6b001c!important;
}
#ServiceMsg{
    background-color: #c1e0fa;
}
#btnSayingTo{
    background-color: #0a0a0a;

}
#TopbarWapper .topbar-userlogin a{background-color: #f2ad21!important;}
#RoomNoticeWrapper .notice-info{color:#fff;}
.qqmore a{
    color:#fff!important;
}
.messageclearbtn a{
    color:#fff!important;
}
.facecontent{
    background-color:#a90017!important;
    line-height: 32px;
    padding-left: 10px;
    height:32px!important;    
    padding-left: 10px!important;
}
#SubColumnsMenu .li1{
    background-color:#b22423!important;
}
#SubColumnsMenu .li2{
    background-color:#ff191b!important;
}
#SubColumnsMenu .li3{
    background-color:#a2720f!important;
}
#SubColumnsMenu .li4{
    background-color:#1484cc!important;
}
#SubColumnsMenu .li5{
    background-color:#0970b2!important;
}
#SubColumnsMenu .li6{
    background-color:#004382!important;
}
#SayingInputVal{
    color:white;
}
.myscroll a,.myscroll span{color:white!important;}