body {
    background: url("../../Image/images/theme/backgroundorange.jpg")  repeat fixed!important;
}
#TopbarWapper{
    background: -moz-linear-gradient(top,#fdaa11,#fd860b)!important; /*火狐*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#fdaa11), to(#fd860b))!important; /*谷歌*/
    background-image: -webkit-gradient(linear,left bottom,left top,color-start(0, #fdaa11),color-stop(1, #fd860b))!important; /* Safari & Chrome*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fdaa11', endColorstr='#fd860b')!important; /*IE6 & IE7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fdaa11', endColorstr='#fd860b')"!important; /* IE8 */
}
#MainLiveTVWapper .video-tip{
    background-color: #feb714!important;
}
#RoomNoticeWrapper{
     background-color: #fcad26!important;
}
#SubColumnsMenu{
    background-color:#feb714;
}
#SubColumnsMenu a{
    background-color:#fe8203!important;
}
#ServiceMsg{
    background-color:#feb714;
}
#btnSayingTo{
    background-color:#E44C00!important;
}
.facecontent{
     background-color: #D46C12!important;
}
#RoomNoticeWrapper .notice-info{color:#fff;}
.commbx, #SysColumnWapper .marque_ul a{
    background-color: #9A6C32;
}
.commbx, #SysColumnWapper .marque_ul a:hover{
    background-color: #9A6C72;
}
.qqmore a{
    color:#fff!important;
}
.marque_ul a,.marque_ul span{
    color:#000!important;
}