body{
    background: url("../../Image/images/theme/backgroundclassicalOne.jpg")  repeat fixed!important;
}
#TopbarWapper{
    background: -moz-linear-gradient(top,#ad3d00,#d7600b)!important; /*火狐*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#ad3d00), to(#d7600b))!important; /*谷歌*/
    background-image: -webkit-gradient(linear,left bottom,left top,color-start(0, #d7600b),color-stop(1, #ad3d00))!important; /* Safari & Chrome*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d7600b', endColorstr='#ad3d00')!important; /*IE6 & IE7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d7600b', endColorstr='#ad3d00')"!important; /* IE8 */
}
#MainLiveTVWapper .video-tip{
    background-color: #b24102!important;
}
#RoomNoticeWrapper{
     background-color: #993a00!important;
}
#SubColumnsMenu{
    background-color:#b24102;
}
#SubColumnsMenu a{
    background-color:#993a00!important;
}
#ServiceMsg{
    background-color:#C3CDD2;
}
#btnSayingTo{
    background-color:#003873;
}
#TopbarWapper .topbar-userlogin a{background-color:#0d7bb6;}
#RoomNoticeWrapper .notice-info{color:#fff;}
.qqmore a{
    color:#fff!important;
}
.commbx, #SysColumnWapper .marque_ul a{
    background-color: #993a00;
}
.commbx, #SysColumnWapper .marque_ul a:hover{
    background-color: #b24102;
}
.facecontent{
     background-color: #b24102!important;
}