<div class="admin_rightbar">
    <h3>安全中心</h3>
    <h4><a class="a4">验证手机</a></h4>
    <div class="texts" id="isverify" style="margin-left: 50px;">
        <s class="icon-01"></s>
        <strong>手机已验证</strong><br /><br />
        您验证的手机：<span id="Telephone">@ViewBag.Tel</span>
    </div>
</div>