@{
    Layout = "~/Views/Shared/_UserCenterLayout.cshtml";
}
<div class="admin_rightbar">
    <h3>安全中心</h3>
    <h4><a class="a4">修改密码</a></h4>
    <input id="ChangeToken" name="ChangeToken" type="hidden" value=@ViewBag.Token>
    <ul class="list3" id="getcode">
        <li>
            <span class="span1">手机号码:</span>
            <input type="text" class="type1" id="Telephone" value=@ViewBag.Tel placeholder="请输入手机号码" size="30">
        </li>
        <li>
            <input type="button" name="submit" class="btnclass" onclick="SendSms(this)" value="免费获取验证码">
        </li>
        <li>
            <span class="span1" style="letter-spacing: 0px;">手机验证码：</span><span>
                <input type="text" class="type1" id="VerifyCode" size="30">
                <br>
            </span>
        </li>
        <li>
            <input type="button" name="submit" class="btnclass" onclick="checkCode()" value="确 定">
        </li>
    </ul>
    <ul class="list3" id="setpassword" style="display: none">
        <li>
            <span class="span1">新密码:</span>
            <span>
                <input type="password" id="password1" class="type1" size="30">
                <br>
            </span>
        </li>
        <li>
            <span class="span1" style="letter-spacing: 0px;">再次输入新密码：</span><span>
                <input type="password" id="password2" class="type1" size="30">
                <br>
            </span>
        </li>
        <li>
            <input type="button" name="submit" class="btnclass" onclick="setpassword()" value="确 定">
        </li>
    </ul>
</div>
@section scripts
{
@Scripts.Render("~/Scripts/jquery.cookie.js")
    <script>
        ShowMenu("box3");
        Active('box3', 2);
        var countdown = 60;

        function SendSms(val) {
            var option = {};
            var tel = $("#Telephone").val();
            if (tel == '') {
                alert("手机号不能为空");
                return false;
            }
            if (tel.length != 11) {
                alert("您输入的手机号有误，请重新输入！");
                return false;
            }
            option.tel = tel;
            option.op = "sendsms";
            $.ajax({ url: '/Account/SendSMS', data: { phone: tel, token: $("#ChangeToken").val() } }).done(function (ret) {
                if (ret) {
                    settime(val);
                } else {
                    alert("验证码发送失败");
                }
            });
        }

        function settime(val) {
            $(val).attr("disabled", true);
            if (countdown == 0) {
                $(val).attr("disabled", false);
                val.value = "免费获取验证码";
                clearTimeout(time);

                countdown = 60;
                return false;
            } else {
                val.setAttribute("disabled", true);
                val.value = "重新发送(" + countdown + ")";
                countdown--;
            }
            time = setTimeout(function () {
                settime(val);
            }, 1000);
        }

        var checkCode = function () {
            var code = $("#VerifyCode").val();
            if (code == '') {
                alert("验证码不能为空！");
                return false;
            }
            if ($.cookie("code") != code) {
                alert("验证码错误，请重新输入！");
                $(this).focus();
                return false;
            }
            $("#setpassword").show();
            $("#getcode").hide();
        }

        var setpassword = function () {
            var pwd1 = $("#password1").val();
            if (pwd1 == "") {
                alert("密码不能为空!");
                return false;
            }
            var pwd2 = $("#password2").val();
            if (pwd2 == "") {
                alert("密码不能为空!");
                return false;
            }
            if (pwd1 != pwd2) {
                alert("两次输入不一致，请重新输入!");
                return false;
            }
            $.post("/Account/ChangePassword", { password: pwd1 }).done(function (ret) {
                if (ret.status) {
                    alert("重置密码成功，请重新登录!");
                    window.location.href = "/Account/Login";
                } else {
                    alert("重置密码失败!");
                }

            });
        }
    </script>
}

